@import url('https://fonts.googleapis.com/css?family=Butcherman|Work+Sans&display=swap');
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	line-height: 1.6;
	background: #333;
	color: #fff;
}
h1{
	font-family: 'Butcherman', cursive;
}
p{
	font-family: 'Work Sans', 'sans-serif';
}


.slider {
	position: relative;
	overflow: hidden;
	height: 100vh;
	width: 100vw;
}

.slide{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/*initial opacity = 0*/
	opacity: 0;
	/*current class will be made visible*/
	transition: opacity 0.4s ease-in-out;
}

.slide.current{
	opacity: 1;
}

.slide .content{
	position: absolute;
	opacity: 0;
	color: #333;
	top: 50%;
	left: -400px;
	width: 400px;
	background-color: rgba(255, 255, 255, 0.8);
	padding: 20px;
}
.slide.current .content{
	opacity: 1;
	transform: translateX(400px);
	transition: all 0.7s ease-in-out 0.3s;
}
button#next{
	position: absolute;
	top: 50%;
	right: 15px;
}

button#prev{
	position: absolute;
	top: 50%;
	left: 15px;
}
.buttons button{
	border: 2px solid #FFF;
	background-color: transparent;
	color: #FFF;
	cursor: pointer;
	padding: 13px 15px;
	border-radius: 50%;
	outline: none;
}
.buttons button:hover{
	background-color: #FFF;
	color: #000;
}

@media (max-width: 300px) {
  .slide .content {
    bottom: -300px;
    left: 0;
    width: 100%;
  }

  .slide.current .content {
    transform: translateY(-300px);
  }
}
.slide:first-child{
	background: url('manali.jpg') no-repeat center center/cover;
}
.slide:nth-child(2) {
	background: url('darjeeling.jpg') no-repeat center top/cover;
}
.slide:nth-child(3){
	background: url('gangtok.jpg') no-repeat center top/cover;
}
.slide:nth-child(4){
	background: url('shimla.jpg') no-repeat center top/cover;
}
.slide:nth-child(5){
	background: url('dehradun.jpg') no-repeat center top/cover;
}
.slide:nth-child(6){
	background: url('kausani.jpg') no-repeat center top/cover;
}